* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  .container {
    display: flex;
    width: 74rem;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 2.5rem;
      height: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 2.5rem;
    }
    .nav-item {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      padding: 2rem;
    }
    .login-signin {
      display: flex;
      align-items: flex-start;
      margin-left: 10rem;
    }
    .btn-login {
      
      display: flex;
      padding: 1rem 2rem;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 0.875rem;
         h6{
          color: var(--Dark, #222831);
/* Button */
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 1.05rem */
         }
    }
    .signup {
      font-size: 0.875rem;
      display: flex;
      padding: 1rem 2rem;
      align-items: flex-start;
      gap: 0.5rem;
      border-radius: 6.25rem;
      background: var(--Primary, #5d50c6);
         h6{
          color: var(--White, #ffffff);
         }
    }
  }
}
