<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <div class="Logo">
                <a class=" navbar-branch d-flex text-decoration-none " href="#">
                    <img src="./assets/icons/logo.svg" />
                    <h3 class="fw-bold ms-3 text-dark ">Travlog</h3>
                </a>
            </div>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Discover
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Special Deals
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Contact
                    </a>
                </li>
            </ul>
            <div class="login-signin d-flex">
                <div class="login">
                    <a class=" nav-link" href="#">
                        <h6>Log In</h6>
                    </a>
                </div>
                <div class="signup">
                    <a class=" btn btn-signup " href="#">
                        <h6>Sign Up</h6>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>